/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 ต.ค. 2557, 2:24:54
    Author     : singha
*/

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

input[type="text"],
input[type="password"],
select,
textarea{
    width: 250px; height: 30px;
}




/*loader*/
#noTrespassingOuterBarG{
    height:20px;
    width:160px;
    border:1px solid #EFF0DD;
    overflow:hidden;
    background-color:#4CC7E6}

.noTrespassingBarLineG{
    background-color:#EFF0DD;
    float:left;
    width:14px;
    height:120px;
    margin-right:24px;
    margin-top:-28px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.noTrespassingAnimationG{
    width:236px;
    -moz-animation-name:noTrespassingAnimationG;
    -moz-animation-duration:0.6s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:noTrespassingAnimationG;
    -webkit-animation-duration:0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:noTrespassingAnimationG;
    -ms-animation-duration:0.6s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:noTrespassingAnimationG;
    -o-animation-duration:0.6s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:noTrespassingAnimationG;
    animation-duration:0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

#noTrespassingFrontBarG{
}

@-moz-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-38px;
    }

}

@-webkit-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-38px;
    }

}

@-ms-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-38px;
    }

}

@-o-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-38px;
    }

}

@keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-38px;
    }

}
