.ivan14{ 
    position: relative; 
    width: 300px; height: 540px;
    background-image: url(image/van-top-diagram4.png);
    background-repeat: no-repeat;
}
.ivan14>.seat{ 
    position: absolute; 
    width: 39px; height: 44px; 
    background-image: url(image/seat1.png);
    cursor: pointer;
    color: #fff;
    text-align: center;
}
.ivan14>.seat-free{
    background-image: url(image/seat1.png);
}
.ivan14>.seat-booking{
    background-image: url(image/seat5.png);
}
.ivan14>.seat-succeed{
    background-image: url(image/seat2.png);
    cursor: not-allowed;
}
.ivan14>#seat01{ left: 50px; top: 170px; }
.ivan14>#seat02{ left: 100px; top: 240px; }
.ivan14>#seat03{ left: 150px; top: 240px; }
.ivan14>#seat04{ left: 200px; top: 240px; }
.ivan14>#seat05{ left: 50px; top: 310px; }
.ivan14>#seat06{ left: 150px; top: 310px; }
.ivan14>#seat07{ left: 200px; top: 310px; }
.ivan14>#seat08{ left: 50px; top: 380px; }
.ivan14>#seat09{ left: 150px; top: 380px; }
.ivan14>#seat10{ left: 200px; top: 380px; }
.ivan14>#seat11{ left: 50px; top: 450px; }
.ivan14>#seat12{ left: 100px; top: 450px; }
.ivan14>#seat13{ left: 150px; top: 450px; }
.ivan14>#seat14{ left: 200px; top: 450px; }

.ivan14>#title{font-size: 25px; position: relative; top: 27px;}





/* ------------      van9       -------------- */
.ivan9{ 
    position: relative; 
    width: 300px; height: 540px;
    background-image: url(image/van-top-diagram4.png);
    background-repeat: no-repeat;
}
.ivan9>.seat{ 
    position: absolute; 
    width: 39px; height: 44px; 
    background-image: url(image/seat1.png);
    cursor: pointer;
    color: #fff;
    text-align: center;
}
.ivan9>.seat-free{
    background-image: url(image/seat1.png);
}
.ivan9>.seat-booking{
    background-image: url(image/seat5.png);
}
.ivan9>.seat-succeed{
    background-image: url(image/seat2.png);
    cursor: not-allowed;
}
.ivan9>#seat01{ left: 80px; top: 260px; }
.ivan9>#seat02{ left: 140px; top: 260px; }
.ivan9>#seat03{ left: 200px; top: 260px; }
.ivan9>#seat04{ left: 50px; top: 350px; }
.ivan9>#seat05{ left: 140px; top: 350px; }
.ivan9>#seat06{ left: 200px; top: 350px; }
.ivan9>#seat07{ left: 50px; top: 440px; }
.ivan9>#seat08{ left: 140px; top: 440px; }
.ivan9>#seat09{ left: 200px; top: 440px; }

.ivan9>#title{font-size: 25px; position: relative; top: 27px;}